<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/general.css">
    <title>All Tributes</title>
</head>
<body>
    <header>
        <div class="menu">
            <img src="../assets/capitol/catching_fire_capitol_seal_vector_by_trebory6-d62l0oa.png" alt="" width="100px" class="mt-2 mb-2">
            <div class="menu">
                <h1>Hall Of The Fame</h1>
                <a href="/" class="btn">Home</a>
                <a href="/all" class="btn">All Tributes</a>
                <a href="/form" class="btn">New Tribute</a>
                <a href="/formDistrict" class="btn">Search By District</a>
                <a href="/formEdition" class="btn">Search By Edition</a>
            </div>
        </div>
    </header>
    <%for(let i=0; i < tributes.length; i++){%>
        <div id="<%=tributes[i]._id%>"  class="container mb-4">
            <form action="/<%=tributes[i]._id%>?_method=DELETE" method="POST">
                <div>
                    <div class="frame">
                        <img src="<%=tributes[i].imageUrl == '' || tributes[i].imageUrl == null ? '../assets/capitol/testeG.png' : tributes[i].imageUrl%>" alt="tribute Pic" width="190px" height="260px">
                    </div>
                    <h2><%=tributes[i].nameTribute%></h2>
                </div>
                <p>District <%=tributes[i].district%></p>
                <p>Edition: <%=tributes[i].edition%></p>
            </form>
        </div>
    <%}%>
    <footer style="bottom: -100px">
        President Coriolanus Snow
        <hr>
        Minister of Technology Ilan Veras
    </footer>
</body>
</html>